<div class="row">
<div class="col-md-1">

</div>
<div class="col-md-10" style="float: left;">
  <table class="styled-table">
    <thead>
        <tr>
          <td>Order No</td>
          <td>Type</td>
          <td>Payment Type</td>
          <td>Status</td>
          <td>Date</td>
          <!-- <td>Detail</td> -->
        </tr>
    </thead>
    <tbody>
       
        <tr *ngFor="let item of myourders" class="active-row">
          <td>{{item.orderCode}}</td>
          <td>{{item.orderType}}</td>
          <td>{{item.paymentType}}</td>
          <td>{{item.orderStatus}}</td>
          <td>{{item.dateTime | date:'fullDate'}}</td>
          <!-- <details>
            <summary (click)="orderInfro(item.allOrderId)"> </summary>
           <div class="row">
                <div class="col-md-6">
                        <h2>Name</h2>
                </div>
                <div class="col-md-6">
                       <h2>Name</h2>
                </div>
               
           </div>
           <div class="row">
            <div class="col-md-6">
               <h2>Qty</h2>
            </div>
            <div class="col-md-6">
              <h2>Qty</h2>
            </div>
           
       </div>
       <div class="row">
        <div class="col-md-6">
          <h2>Detail</h2>
        </div>
        <div class="col-md-6">
          <h2>Detail</h2>
        </div>
       
   </div>
          </details> -->
        </tr>
        <!-- and so on... -->
    </tbody>
  </table>
</div>
<div class="col-md-1">

</div>
</div>
