.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
hr.new1 {
    border-top: 1px solid red;
  }
  .order-list{
    position: relative;
    padding: 10px 10px 10px 0;
    margin: 0 0 10px;
  }