<main role="main">
    <section class="cities">
  <div class="cities-list text-center">
  <a href="city/karachi.html">Karachi</a>
  <a href="city/lahore.html">Lahore</a>
  <a href="city/islamabad.html">Islamabad</a>
  <a href="city/faisalabad.html">Faisalabad</a>
  <a href="city/rawalpindi.html">Rawalpindi</a>
  <a href="city/hyderabad.html">Hyderabad</a>
  </div>
  </section>
  <section class="how-em-works home mt-5 mb-5">
  <div class="container">
      <h2 class="text-center">The Food you Love, at your Doorstep</h2>
      <p class="text-center mb-5">You are just a few steps away from delicious food</p>
      <div class="row">
          <div class="col step text-center">
              <img src="assets/images/icons/step-my-location.svg" alt="">
              <p class="desc mt-4"><b>Choose the location</b> where you want your food delivered</p>
          </div>
          <div class="col step text-center">
              <img src="assets/images/icons/step-browse.svg" alt="">
              <p class="desc mt-4"><b>Explore restaurants</b>, <b>browse menus</b> and <b>build your order</b> in seconds</p>
          </div>
          <div class="col step text-center">
              <img src="assets/images/icons/step-payment.svg" alt="">
              <p class="desc mt-4"><b>Pay conveniently online</b> or pay in <b>cash on delivery</b></p>
          </div>
      </div>
  </div>
  </section>
  <section class="mobile-app-links mt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col col-lg-3">
              <img src="assets/images/mobile-app.gif" class="mobile-app-screenshot" alt="Mobile App Screenshot">
          </div>
          <div class="col col-lg-5 app-links">
              <h2>Download our Mobile App</h2>
              <p class="mb-4">Get the app. Order with a tap.</p>
              <div class="mb-2">
                  <a href="https://itunes.apple.com/us/app/eat-mubarak-food-delivery/id1355462292" class="btn-app-store" target="_blank" role="button">
                      <img src="assets/images/btn-app-store.png" alt="Apple App Store Link">
                  </a>
              </div>
              <div class="mb-2">
                  <a href="https://play.google.com/store/apps/details?id=com.eatkareem.eatmubarak&amp;hl=en" class="btn-app-store" target="_blank" role="button">
                      <img src="assets/images/btn-play-store.png" alt="Google Play Store Link">
                  </a>
              </div>
          </div>
      </div>
  </div>
  </section>
  </main>